<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Work Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyDaJnKoz9qgdOqK06ewVQbo2HIsKwLxbGc",
            authDomain: "workmanagement-8c1ad.firebaseapp.com",
            projectId: "workmanagement-8c1ad",
            storageBucket: "workmanagement-8c1ad.appspot.com",
            messagingSenderId: "915706962706",
            appId: "1:915706962706:web:1b642d9d52001c313789cb",
            measurementId: "G-EM9Q1R2K33"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>
    <style>
        body {
            background-color: black;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .sidebar {
            height: 100vh;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #111;
            padding-top: 20px;
        }

        .sidebar a {
            padding: 10px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
        }

        .button-row {
            margin-left: 260px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .button {
            flex: 1;
            height: 150px;
            background-color: purple;
            color: white;
            margin-right: 15px;
        }

        .frame {
            margin: 15px;
        }

        .frame button {
            display: block;
            width: 100%;
            margin: 10px 0;
            color: white;
        }

         media (max-width: 768px) {
            .sidebar {
                display: none;
            }

            .frame {
                margin-left: 0;
            }

            .button-row {
                margin-left: 0;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <a class="navbar-brand" href="#">WorkManagement</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                 
                
           
                <a asp-controller="Home" asp-action="Day" class="nav-item nav-link">Günüm</a>
                <a asp-controller="Home" asp-action="Planned" class="nav-item nav-link">Planlanan</a>
                <a asp-controller="Home" asp-action="Tasks" class="nav-item nav-link">Görevler</a>
                <a asp-controller="Home" asp-action="Completed_Tasks" class="nav-item nav-link">Tamamlanan Görevler</a>
                <a asp-controller="Home" asp-action="worklist" class="nav-item nav-link">İş Listeleri</a>
                <a asp-controller="Home" asp-action="JobCreate" class="nav-item nav-link">İş Listesi Oluştur</a>
              
                
                 
            </div>
        </div>
    </nav>

    <div class="frame">
       @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
