
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: black;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .sidebar {
            height: 100vh;
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #111;
            padding-top: 20px;
        }

            .sidebar a {
                padding: 10px;
                text-decoration: none;
                font-size: 18px;
                color: white;
                display: block;
            }

        .button-row {
            margin-left: 260px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .button {
            flex: 1;
            height: 150px;
            background-color: purple;
            color: white;
            margin-right: 15px;
        }

        .frame {
            margin-left: 260px;
            background-color: black;
            margin-top: 15px;
        }

            .frame button {
                display: block;
                width: 100%;
                margin: 10px 0;
                color: white;
            }

    </style>
</head>
<body>
    <h1 class="text-white text-center">WorkManagement</h1>

    <div class="sidebar">
        <a href="#" class="btn bg-secondary m-2">Günüm</a>
        <a href="#" class="btn bg-secondary m-2">Planlanan</a>
        <a href="#" class="btn bg-secondary m-2"> Görevler</a>
        <a href="#" class="btn bg-secondary m-2"> Tamamlanan Görevler</a>
        <a href="WorkList" class="btn bg-secondary m-2"> İş Listeleri </a>
        <a href="JobCreate" class="btn bg-secondary m-2">İş Listesi Oluştur</a>
        <!-- İhtiyaca göre daha fazla menü öğesi eklenebilir -->
    </div>







    <div class="frame">
       @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
