@{
    ViewData["Title"] = "JobCreate";
    Layout = "~/Views/Template/Template.cshtml";
}
@model JoblistModels
<div class="  m-5 p-2  bg-transparent">

    @ViewBag.User
    @using (Html.BeginForm("JobCreate", "Main", FormMethod.Post))
    {
        <input asp-for="JobListName" class="form-control m-auto  " placeholder="İş Listesi Adı" />
        <button class="btn btn-success form-control">Ekle</button>
    }

</div>
