@model WorkManagementWeb.Models.JoblistModels

@{
    ViewData["Title"] = "JobUpdate";
    Layout = "~/Views/Template/TeamTemplate.cshtml";
}

<h1>JobUpdate</h1>

<h4>JoblistModels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="JobUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="JobListName" class="control-label"></label>
                <input asp-for="JobListName" name="JobName" class="form-control" required />
                <span asp-validation-for="JobListName" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


