@{
    ViewData["Title"] = "Upgrade";
    Layout = "~/Views/Template/Template.cshtml";
}

<h1 class="text-center">Güncelle</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 just">
            @* Add your form fields here *@

            <div class="form-group">
                <input type="text" name="version" class="form-control" placeholder="İş Listesi Adı" />
            </div>

            <button type="submit" class="btn btn-primary">Upgrade</button>
            <button type="submit" class="btn btn-danger btn-primary">İş Listesini Kapat</button>
        </div>
    </div>
</div>
