@{
    ViewData["Title"] = "WorkList";
    Layout = "~/Views/Template/Template.cshtml";
}

@model List<WorkManagementWeb.Models.JoblistModels>
<h4  class="text-white">
@ViewBag.User
</h4>
@Html.Partial("IMenu")
@* <ul class="list-unstyled">
     @using(Html.BeginForm("Sonuc","Main",FormMethod.Post)){
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <li class="mt-4 d-flex justify-content-center">
                @Html.ActionLink(item.JobListName, "Sonuc", new { id = item.ID }, new { @class = "btn btn-primary w-50 text-center" })
            </li>
        
        }

    }
    else
    {

    }
    }
</ul> *@
@using (Html.BeginForm("worklist", "Main", FormMethod.Post))
{
    <div class="form-group">

        <input type="text" id="JoblistName" name="JobName" class="form-control" placeholder="İş Adı(*)" required />
    </div>
  
    <button type="submit" class="btn btn-success">Ekle</button>
}

