@model IEnumerable<WorkManagementWeb.Models.TeamJoblist>

@{
    ViewData["Title"] = "GetTeamJob";
    Layout = "~/Views/Template/TeamTemplate.cshtml";
}

<h1>GetTeamJob</h1>

<div class="list-group">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink(item.TeamJobName, "TSonuc", new { id = item.T_JID })</h4>

                <p class="list-group-item-text">
                    <strong>Time:</strong> @Html.DisplayFor(modelItem => item.Time) <br />
                   
                </p>
                <div class="btn-group">



                    <a asp-action="JobUpdate" asp-route-id="@item.T_JID" class="btn btn-primary">Güncelle</a>

                    <a asp-action="JoblistDelete" asp-controller="Main" asp-route-id="@item.T_JID" name="id" class="btn btn-danger">Sil</a>

                </div>
            </div>
        }

    }

</div>


@using (Html.BeginForm("GetTeamJob", "Team", FormMethod.Post))
{
    <div class="form-group">
        <label for="taskname">İş Adı(*):</label>
        <input type="text" id="taskname" name="taskname" class="form-control" placeholder="İş Adı" required />
    </div>
    
    <button type="submit" class="btn btn-success">Ekle</button>
}
