@model WorkManagementWeb.Models.Team

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeamCreate</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 rounded-5 mt-5" style="background-color: darkcyan">
                <h4 class="text-white text-center mb-4">Ekip</h4>
                <h4 class="text-white text-center mb-4">@ViewBag.User</h4>
                <form asp-action="TeamCreate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label  class="control-label text-white">Ekip adı</label>
                        <input asp-for="TeamName" name="TeamName" class="form-control" />
                        <span asp-validation-for="TeamName" class="text-danger"></span>
                    </div>
                 
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Oluştur</button>
                    </div>
                    <div class="form-group">
                     
                        <a asp-controller="Team" asp-action="BackSelect" class="btn bg-warning btn-block">Geri</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS ve Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
